{% extends "base.html" %}
{% block title %}Gestión de Memoria{% endblock %}

{% block content %}
<h1>Simulador de Gestión de Memoria - Hilos</h1>

{% if message %}
    <p style="color:red;">{{ message }}</p>
{% endif %}

<div style="display: flex; gap: 20px;">
    <!-- RAM -->
    <div>
        <h2>RAM</h2>
        <div class="matrix ram" style="grid-template-columns: repeat({{ ram[0]|length }}, 65px);">
            {% for row in ram %}
                {% for cell in row %}
                    {% if cell.process %}
                        {% if cell.process == 'S.O.' %}
                            <div class="cell so">S.O.</div>
                        {% else %}
                            <div class="cell" style="background-color: {{ cell.process.color }};">
                                {{ cell.frame_id }}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="cell"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <!-- ROM -->
    <div>
        <h2>ROM</h2>
        <div class="matrix rom" style="grid-template-columns: repeat({{ rom[0]|length }}, 65px);">
            {% for row in rom %}
                {% for cell in row %}
                    {% if cell.process %}
                        {% if cell.process == 'S.O.' %}
                            <div class="cell so">S.O.</div>
                        {% else %}
                            <div class="cell" style="background-color: {{ cell.process.color }};">
                                {{ cell.frame_id }}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="cell"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<h2>Hilos en Memoria</h2>
<ul class="process-list">
    {% for hilo in hilos %}
        <li class="process-item">
            <span style="background-color: {{ hilo.color }}; padding: 5px; color: white;">
                Hilo ID: {{ hilo.hilo_id }} |
                Proceso: {{ hilo.process_id }} |
                Tamaño inicial: {{ hilo.size_initial }} |
                Tamaño Restante: {{ hilo.size }} |
                Páginas totales: {{ hilo.frames|length }}
            </span>
        </li>
    {% endfor %}
</ul>

<style>
    .matrix {
        display: grid;
        gap: 2px;
    }
    .cell {
        width: 65px;
        height: 65px;
        background-color: lightgray;
        text-align: center;
        line-height: 55px;
        border: 1px solid #ccc;
        color: #ffffff;
    }
    .cell.so {
        background-color: #000;
        color: #fff;
    }
    .process-list {
        list-style-type: none;
        padding: 0;
    }
    .process-item {
        margin-bottom: 5px;
    }
</style>
{% endblock %}
