{% extends "base.html" %}

{% block title %}Gestión de Memoria{% endblock %}

{% block content %}
<h1>Simulador de Gestión de Memoria</h1>

{% if message %}
    <p style="color:red;">{{ message }}</p>
{% endif %}

<br>

<!-- Contenedor Flex para alinear RAM y ROM horizontalmente -->
<div style="display: flex; gap: 20px;">

    <!-- RAM -->
    <h2>RAM</h2>
    <div class="matrix ram" style="grid-template-columns: repeat({{ ram[0]|length }}, 55px);">
        {% for row in ram %}
            {% for cell in row %}
                {% if cell.process %}
                    {% if cell.process == 'S.O.' %}
                        <div class="cell so">
                            S.O.
                        </div>
                    {% else %}
                        <div class="cell" style="background-color: {{ cell.process.color }}; position: relative;">
                            <span style="font-size: 20px;">{{ cell.frame_id }}</span>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="cell"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <!-- ROM -->
    <h2>ROM</h2>
    <div class="matrix rom" style="grid-template-columns: repeat({{ rom[0]|length }}, 55px);">
        {% for row in rom %}
            {% for cell in row %}
                {% if cell.process %}
                    <div class="cell" style="background-color: {{ cell.process.color }}; position: relative;">
                        <span style="font-size: 20px;">{{ cell.frame_id }}</span>
                    </div>
                {% else %}
                    <div class="cell"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

</div>

<h2>Procesos en Memoria</h2>
<ul class="process-list">
    {% for process in processes %}
        <li class="process-item">
            <span style="background-color: {{ process.color }}; padding: 5px; color: white;">
                {{ process.name }} - Tamaño inicial: {{ process.size_initial }} kb - Tamaño Restante: {{ process.size }} kb - Páginas totales: {{ process.frames|length }} - Páginas restantes: {{ (process.size / 2.5) | ceil }}
            </span>
        </li>
    {% endfor %}
</ul>

<style>
    .matrix {
        display: grid;
        grid-template-columns: repeat(auto-fill, 50px);
        gap: 2px;
    }
    .cell {
        width: 55px;
        height: 55px;
        background-color: lightgray;
        text-align: center;
        line-height: 55px;
        font-size: 20px;
        color: white;
        border: 1px solid #ccc;
        position: relative;
    }
    .ram {
        margin-bottom: 55px;
    }
    .rom {
        margin-bottom: 55px;
    }
    .process-list {
        list-style-type: none;
        padding: 0;
    }
    .process-item {
        margin-bottom: 5px;
    }
    .delete-button {
        background-color: red;
        color: white;
        border: none;
        padding: 5px;
        cursor: pointer;
    }
    .delete-button:hover {
        background-color: darkred;
    }
    .reduce-button {
        background-color: orange;
        color: white;
        border: none;
        padding: 5px;
        cursor: pointer;
    }
    .reduce-button:hover {
        background-color: darkorange;
    }
    .cell.so {
        background-color: black;
        color: white;
    }
</style>

{% endblock %}
