{% extends "base.html" %}

{% block title %}Reporte de Procesos{% endblock %}

{% block content %}
    <h1>Reporte de Procesos</h1>
    <br>
    <table class="table table-bordered" style="width: 100%;">
        <thead class="table-dark" style="text-align: center;">
            <tr>
                <th>Hilo ID</th>
                <th>Proceso ID</th>
                <th>Tamaño Inicial</th>
                <th>Tamaño Restante</th>
                <th>Estado</th>
                <th>Preeminencia</th>
                <th>Recursos Obtenidos</th>
                <th>Faltan Recursos</th>
                <th>Procesador</th>
                <th>Veces Ejecutando</th>
            </tr>
        </thead>
        <tbody>
            {% for item in reporte_datos %}
            <tr style="text-align: center;">
                <td>{{ item.id }}</td>
                <td>{{ item.proceso_id }}</td>
                <td>{{ item.tamaño_hilo_inicial }}</td>
                <td>{{ item.tamaño_hilo }}</td>
                <td>{{ item.estado }}</td>
                <td>{{ item.preeminencia }}</td>
                <td>{{ item.recursos_obtenidos }}</td>
                <td>{{ item.recursos_faltantes }}</td>
                <td>{{ item.processor_id }}</td> 
                <td>{{ item.veces_ejecutando }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al inicio</a>
    </p>
{% endblock %}
