{% extends "base.html" %}

{% block title %}Reporte de Procesos{% endblock %}

{% block content %}
    <h1>Reporte de Procesos</h1>
    <br>
    <table class="table table-bordered" style="width: 100%;">
        <thead class="table-dark" style="text-align: center;">
            <tr>
                <th>ID</th>
                <th>Tamaño Inicial</th>
                <th>Tamaño Restante</th>
                <th>Estado</th>
                <th>Preeminencia</th>
                <th>Recursos Obtenidos</th>
                <th>Faltan Recursos</th>
                <th>Paginas Iniciales</th>
                <th>Paginas restantes</th>
                <th>Veces ejecutado</th>
            </tr>
        </thead>
        <tbody>
            {% for proceso in reporte_datos %}
            <tr style="text-align: center;">
                <td>{{ (proceso.id).upper() }}</td>
                <td>{{ proceso.tamaño_inicial }} kb</td>
                <td>{{ proceso.tamaño_restante }} kb</td>
                <td>{{ proceso.estado }}</td>
                <td>{{ proceso.preeminencia }}</td>
                <td>{{ proceso.recursos_obtenidos }}</td>
                <td>{{ proceso.recursos_faltantes }}</td>
                <td>{{ (proceso.tamaño_inicial/2.5) | ceil }}</td>
                <td>{{ (proceso.tamaño_restante/2.5) | ceil }}</td>
                <td>{{ proceso.veces_ejecutando }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al inicio</a>
    </p>
{% endblock %}
